# backend
__pycache__/
myenv/
config.py
venv/

# Database files
*.db
*.sqlite
*.sqlite3

# Temporary files
temp_*.docx
*.tmp

# Environment and IDE
.env
.venv
env/
.idea/
.vscode/

# Python
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log
logs/

